<?xml version="1.0" encoding="UTF-8"?>
<templates id="template" xml:space="preserve">

    <header t-extend="Menu">
        <t t-jquery=".o_menu_systray" t-operation="after">
            <ul class="timelog oe_timelog_placeholder" style="float: right">
                <t t-call="timelog.timer"/>
            </ul>
        </t>
    </header>

    <t t-name="timelog.timer">
        <li class="timelog" id="timelog_timer">
            <div id="clock0" class="clock">
            </div>
            <div id="clock1" class="clock">
            </div>
            <div id="clock2" class="clock">
            </div>
            <div id="clock3" class="clock">
            </div>
        </li>
    </t>

</templates>
