.large-block {
    width: 100% !important;
}

.no-border {
    border: 0px !important;
}

.pad-top-5{
    padding-top: 5px;
}

.pad-left-6{
    padding-left: 6px;
}

.pad-bot-20{
    padding-bottom: 20px;
}

.pad-right-25{
    padding-right:25px;
}

.pad-left-0{
    padding-left: 0px;
}

.marg-left-minus-10{
    margin-left: -10px;
}

.marg-left-10{
    margin-left: 10px;
}

.marg-right-4{
    margin-right:4px;
}

.marg-auto{
    margin-left: auto;
    margin-right: auto;
}

.marg-top-1{
    margin-top: 1%;
}

.marg-left-2{
    margin-left: 2%;
}

.fl-left{
    float: left;
}

.fl-right{
    float: right;
}

.company-img{
    float: right;
    width: 42px;
    height: 40px;
}

.small-block{
    max-width: 32%;
}

.btn-min-width{
    min-width:125px;
}

.wid-150{
    width: 160%;
}

.max-width-30{
    max-width: 30%;
}

.max-width-48{
    max-width: 48%;
}

.mrg-top-0px{
    margin-top: 0px !important;
}

.margin-left-0{
    margin-left: 0%;
}

.company-logo{
    margin-right: 5%;
    margin-top: -7%;
    margin-bottom: 5%;
}
