.box-modal {
    position: relative;
    padding: 16px;
    background: #fff;
    color: #3c3c3c;
    font: 14px/18px Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    box-shadow: 0 0 0 6px rgba(153, 153, 153, 0.3);
    border-radius: 6px;
}
.box-modal_close {
    position: absolute;
    right: -25px;
    top: -25px;
    font-size: 30px;
    line-height: 15px;
    color: #ffffff;
    cursor: pointer;
}
.box-modal_close:hover {
    color: #b1b1b1;
}
