.g-hidden {
    display: none;
}
.box-modal img {
    max-width: 900px;
    width: 100%;
}
.box-modal-li li {
    list-style-type: none;
}
.box-modal-li {
    padding-left: 0;
}
.o_attachment .o_image {
    cursor: pointer;
}
.media-image {
    margin-right: 10px;
    max-width: 90px !important;
    cursor: pointer;
}
.o_image.media-image {
    background-image: none;
}
.img.img-responsive.media-image.m-dotted.media-video {
    box-shadow: none !important;
}
.o_image {
    background-image: none !important;
}
