.g-hidden {
    display: none;
}
.box-modal img {
    max-width: 900px;
    width: 100%;
}
.box-modal-li li {
    list-style-type: none;
}
.box-modal-li {
    padding-left: 0;
}
.o_attachment .o_image {
    cursor: pointer;
}
.media-image {
    max-width: 100px;
    margin-right: 10px;
}
.o_image.media-image {
    background-image: none;
}