.openerp .oe_mail_wall .oe_mail_wall_aside .oe_mail_wall_widgets{
	background-color: #ededf6;
}
.oe_open_record:hover, .oe_open_record_list:hover{
	cursor:pointer;
}
.oe_goal_outer_box .more{
	text-align:center;
	padding: 10px 5px;
}

.openerp .oe_mail_wall .oe_goal .oe_goals_list.funnel .oe_cell.oe_goal_current {
  font-size: 150%;
  font-weight: bold;
  min-width: 65px;
  padding: 0 5px;
}
.openerp .oe_mail_wall .oe_goal .oe_goals_list .oe_cell.oe_goal_current .oe_form_field_monetary{
	font-weight: normal;
	font-size: 70%;
	white-space: nowrap;
}
.openerp .oe_mail_wall .oe_goal .oe_goals_list .oe_cell.oe_goal_current .oe_form_field_monetary .oe_form_char_content {
  font-weight: bold;
  font-size: 142%; /* 1/.7 */
}

.openerp .oe_mail_wall .oe_goal .oe_goals_list .oe_cell.oe_goal_current span.small {
	font-weight: normal;
	font-size: 70%;
}
.oe_open_record:hover, .oe_open_record_list_funnel:hover{
	cursor:pointer;
}

.openerp .oe_mail_wall .list_group{
	margin-bottom:0.6em;
}
.openerp .oe_mail_wall .list_group .group_label{
	padding: 0 0 0.1em 1em;
	font-size:120%;
}
.openerp .oe_mail_wall .list_group.overdue .group_label{
	color:red;
}
.openerp .oe_mail_wall .list_group.today .group_label{
	font-weight:bold;
}
.openerp .oe_mail_wall .list_group.later .group_label{
	color:grey;
}

.openerp .oe_mail_wall .list_group .empty_list{
	background-color:white;
	padding:10px 0;
	color:grey;
	text-align:center;
}