#product_detail .labels{
	margin-bottom: 16px;
}

#product_detail.disable_to_order #add_to_cart{
	display:none;
}
#product_detail.disable_to_order .css_quantity{
	display:none;
}

/* Ribbon for promotionso on products */
.oe_product .ribbon-wrapper-custom {
  display: none;
  width: 85px;
  height: 88px;
  z-index: 5;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}
.oe_product .ribbon-wrapper-custom-big {
  display: none;
  width: 115px;
  height: 118px;
  z-index: 5;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}

.oe_product .ribbon {
  font: bold 15px Sans-Serif;
  color: white;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  cursor: default;
}
.oe_product .ribbon-wrapper-custom-big .ribbon {
  font: bold 15px Sans-Serif;
  color: white;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -15px;
  top: 30px;
  width: 170px;
  cursor: default;
}

.oe_product.oe_ribbon_new .ribbon-new {
  display: block;
}
.oe_product.oe_ribbon_new_release .ribbon-new-release {
  display: block;
}
.oe_product.oe_ribbon_pre_order_now .ribbon-pre-order-now {
  display: block;
}
.oe_product.oe_ribbon_backordered .ribbon-backordered {
  display: block;
}
.oe_product.oe_ribbon_discontinued .ribbon-discontinued {
  display: block;
}
