.openerp .oe_mail .oe_msg .oe_msg_icons .oe_move.oe_moved a {
	color: #ffefe;
	text-shadow: 0px 1px #961b1b,0px -1px #961b1b, -1px 0px #961b1b, 1px 0px #961b1b, 0px 3px 3px rgba(0,0,0,0.1);
}

.openerp .oe_mail .oe_msg .oe_msg_icons .oe_move:hover a {
	color: #ffa1a1;
	text-shadow: 0px 1px #ff0000,0px -1px #ff0000, -1px 0px #ff0000, 1px 0px #ff0000, 0px 3px 3px rgba(0,0,0,0.1);
}

.openerp.mail_move_message{
	width: 864px;
}