
.openerp .oe_gantt {
    min-height: 500px;
}

.openerp .oe_gantt .oe_gantt_button_create {
    position: absolute;
    top: 5px;
}
.openerp .oe_view_manager .oe_view_manager_content .oe_view_manager_view_gantt8:after {
  font-family: "mnmliconsRegular" !important;
  font-size: 21px;
  font-weight: 300 !important;
  content: "y";
  top: -2px;
  position: relative;
}

@media print {
    .oe_gantt button {
        display: none;
    }
    .oe_gantt > table > tbody > tr > td > div > div {
        overflow: hidden !important;
    }
}