.openerp .oe_mail_wall .dashboard_only .oe_mail{
	display:none;
}

.openerp .oe_mail_wall .oe_mail_wall_aside{
	display:none;
}

.openerp .oe_mail_wall .dashboard_only .oe_mail_wall_aside{
	margin:0;
    padding: 16px;
    display: block;
    position: static;
	width:100%;
}

.openerp .oe_mail_wall .dashboard_only .oe_mail_wall_aside .oe_gamification_challenge_list {
	background-color:inherit;
}
.openerp .oe_mail_wall .dashboard_only .oe_goal{
	background-color: #ededf6;
	width:280px;
	margin:5px;

	position:absolute;
	left:-300px; 
}
