.log-start-timer {
    position: relative;
    border: 1px solid #00ca16 !important;
    width: 25px;
    height: 25px;
    background-color: transparent !important;
}

.log-start-timer:before {
    position: absolute;
    left: 8px;
    top: 4px;
    content: "";
    border-left: 12px solid #00ca16;
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

.log-stop-timer {
    position: relative;
    border: 1px solid #e40000 !important;
    width: 25px;
    height: 25px;
    background-color: transparent !important;
}

.log-stop-timer:before {
    width: 6px;
    height: 15px;
    background: #e40000;
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
}

.log-stop-timer:after {
    width: 6px;
    height: 15px;
    background: #e40000;
    position: absolute;
    content: "";
    top: 4px;
    right: 4px;
}
