<!DOCTYPE html>
<!--
Copyright 2018 Stanislav Krotov <https://it-projects.info/team/ufaks>
License MIT (https://opensource.org/licenses/MIT).
-->
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Odoo</title>
    <link
      rel="shortcut icon"
      href="/web/static/src/img/favicon.ico"
      type="image/x-icon"
    />

    <link rel="stylesheet" href="/web/static/lib/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/web/static/lib/bootstrap/css/bootstrap.css" />

    <script src="/web/static/lib/jquery/jquery.js" type="text/javascript"></script>

    <script type="text/javascript" src="/web/static/lib/popper/popper.js"></script>

    <script type="text/javascript" src="/web/static/lib/bootstrap/js/index.js"></script>
    <script type="text/javascript" src="/web/static/lib/bootstrap/js/util.js"></script>
    <script type="text/javascript" src="/web/static/lib/bootstrap/js/alert.js"></script>
    <script
      type="text/javascript"
      src="/web/static/lib/bootstrap/js/button.js"
    ></script>
    <script
      type="text/javascript"
      src="/web/static/lib/bootstrap/js/carousel.js"
    ></script>
    <script
      type="text/javascript"
      src="/web/static/lib/bootstrap/js/collapse.js"
    ></script>
    <script
      type="text/javascript"
      src="/web/static/lib/bootstrap/js/dropdown.js"
    ></script>
    <script type="text/javascript" src="/web/static/lib/bootstrap/js/modal.js"></script>
    <script
      type="text/javascript"
      src="/web/static/lib/bootstrap/js/tooltip.js"
    ></script>
    <script
      type="text/javascript"
      src="/web/static/lib/bootstrap/js/popover.js"
    ></script>
    <script
      type="text/javascript"
      src="/web/static/lib/bootstrap/js/scrollspy.js"
    ></script>
    <script type="text/javascript" src="/web/static/lib/bootstrap/js/tab.js"></script>
    <script type="text/javascript">
      $(function() {
        $("body").on("click", ".o_database_action", function(ev) {
          ev.preventDefault();
          var backup = $(ev.currentTarget).data("backup");
          var target = $(ev.currentTarget).data("target");
          var encryption_password_section = $("#encryption_password").parent();
          $(target)
            .find("input[name=backup_file_name]")
            .val(backup);
          if (backup.endsWith(".enc")) {
            encryption_password_section.show();
          } else {
            encryption_password_section.hide();
          }
          $(target).modal();
        });
        // close modal on submit
        $(".modal").on("click", 'input[type="submit"]', function(ev) {
          var modal = $(this).parentsUntil("body", ".modal");
          if (modal.hasClass("o_database_restore_via_odoo_backup_sh")) {
            $(modal).modal("hide");
            if (!$(".alert-backup-long").length) {
              $(".list-group").before(
                "<div class='alert alert-info alert-backup-long'>The database restore may take some time before being ready</div>"
              );
            }
          }
        });
      });
    </script>
  </head>

  {% macro master_input() -%}
  <div class="form-group">
    {% if insecure %}
    <input type="hidden" name="master_pwd" class="form-control" value="admin" />
    {% else %}
    <label for="master_pwd" class="control-label">Master Password</label>
    <input
      id="master_pwd"
      type="password"
      name="master_pwd"
      class="form-control"
      required="required"
      autofocus="autofocus"
    />
    {% endif %}
  </div>
  {%- endmacro %}

  <body class="container">
    <!-- Backup List -->
    <div class="row">
      <div class="col-lg-6 offset-lg-3 o_database_list">
        <img src="/web/static/src/img/logo2.png" class="img-fluid d-block mx-auto" />
        {% if error %}
        <div class="alert alert-danger text-center">{{ error|safe }}</div>
        {% endif %} {% if backup_list %}
        <div class="list-group">
          {% for backup in backup_list %}
          <div class="list-group-item">
            {{ backup }}
            <div class="btn-group btn-group-sm float-right">
              <button
                type="button"
                data-backup="{{ backup }}"
                data-target=".o_database_restore_via_odoo_backup_sh"
                class="o_database_action btn btn-primary"
              >
                <i class="fa fa-undo fa-fw"></i> Restore
              </button>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}
        <div class="text-center">
          <a href="/web/database/manager">Manage databases</a>
        </div>
      </div>
    </div>

    <!-- Restore -->
    <div class="modal fade o_database_restore_via_odoo_backup_sh" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Restore Database</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form
            id="form_restore_db_via_odoo_backup_sh"
            role="form"
            action="/web/database/restore_via_odoo_backup_sh"
            method="post"
            enctype="multipart/form-data"
          >
            <div class="modal-body">
              {{ master_input() }}
              <div class="form-group">
                <label for="backup_file_name" class="col-form-label">Backup Name</label>
                <input
                  id="backup_file_name"
                  type="text"
                  name="backup_file_name"
                  class="form-control"
                  required="required"
                  readonly="readonly"
                />
              </div>
              <div class="form-group">
                <label for="name" class="col-form-label">Database Name</label>
                <input
                  id="name"
                  type="text"
                  name="name"
                  class="form-control"
                  required="required"
                  pattern="{{ pattern }}"
                  title="Only alphanumerical characters, underscore, hyphen and dot are allowed"
                />
              </div>
              <div class="form-group">
                <label for="encryption_password" class="col-form-label"
                  >Encryption Password</label
                >
                <input
                  id="encryption_password"
                  type="text"
                  name="encryption_password"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label for="copy">This database might have been moved or copied.</label>
                <p class="form-text">
                  In order to avoid conflicts between databases, Odoo needs to know if
                  this database was moved or copied.<br />
                  If you don't know, answer "This database is a copy".
                </p>
                <div class="custom-control custom-radio">
                  <input
                    id="radio_copy_true"
                    name="copy"
                    type="radio"
                    class="custom-control-input"
                    value="true"
                    checked="1"
                  />
                  <label for="radio_copy_true" class="custom-control-label"
                    >This database is a copy</label
                  >
                </div>
                <div class="custom-control custom-radio">
                  <input
                    id="radio_copy_false"
                    name="copy"
                    type="radio"
                    class="custom-control-input"
                    value="false"
                  />
                  <label for="radio_copy_false" class="custom-control-label"
                    >This database was moved</label
                  >
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <input
                type="submit"
                value="Continue"
                class="btn btn-primary float-right"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
